@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

/* Formatação para resetar configurações padrão */
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    line-height: 1;
    font: inherit;
}

/* Variantes de cor */
:root {
    --cor-fundo: hsl(182, 38%, 63%);
    --cor-claro: hsl(30, 5%, 95%);
    --cor-botao: hsl(138, 47%, 46%);
    --cor-botao-hover: hsl(138, 51%, 61%);
    --cor-botao-press: hsl(138, 63%, 34%);
}

body {
    background-color: var(--cor-fundo);
    font-family: 'Open Sans', sans-serif;
}

header {
    text-align: center;
    margin: 2rem 0 1rem;
}

header h1 {
    font-size: 16pt;
}

#intro {
    padding: .7rem;
    margin: 0 1rem;
    background-color: var(--cor-claro);
    border-radius: 6px;
    max-width: 800px;
}

#botao-inicio {
    display: block;
    background-color: var(--cor-botao);
    border-radius: 6px;
    font-size: 14pt;
    padding: .4rem 1rem;
    margin: 1rem auto .5rem;
    text-transform: uppercase;
    cursor: pointer;
}

#botao-inicio:hover {
    background-color: var(--cor-botao-hover);
}

#botao-inicio:active {
    background-color: var(--cor-botao-press);
}

@media only screen and (max-height: 768px) and (orientation: landscape) {

    /* Para parar rotação em dispositivos moveis na horizontal */
    /* Código obtido de https://css-tricks.com/snippets/css/orientation-lock/ */
    body {
        width: 100vh;
        transform: rotate(-90deg);
        transform-origin: left top;
        overflow-x: hidden;
        position: absolute;
        top: 100%;
        left: 0;
    }
}

@media only screen and (min-width: 600px) {
    
}